/********************
** Breakpoints
********************/
/********************
** Media Queries
********************/
html {
  height: 100%;
  width: 100%;
  background-color: #D2F3EF;
}

body {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

input.search {
  padding: 15px;
  width: 90%;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 30px auto;
  display: block;
  border: 4px solid #9AC3BE;
}
@media only screen and (min-width: 768px) {
  input.search {
    padding: 20px;
    border-width: 6px;
    font-size: 40px;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  input.search {
    border-width: 8px;
    width: 100%;
    font-size: 60px;
    font-size: 3.75rem;
  }
}

p.definition {
  font-family: "Helvetica Neue", sans-serif;
  font-style: italic;
  margin: 50px 20px;
  line-height: 22px;
  line-height: 1.375rem;
}

.word {
  font-style: normal;
  font-weight: bold;
}

audio.audio {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: red;
}
audio.audio:hover {
  background-color: #e60000;
}
